name: Release

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Tag to upload assets to (e.g. v0.3.1)'
        required: true
        default: ''

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Upload JS to Release
        uses: softprops/action-gh-release@v1
        with:
          # Use the input if manual, otherwise use the tag from the release event
          tag_name: ${{ github.event.inputs.tag_name || github.event.release.tag_name }}
          files: windspeed-heatmap-card.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
